@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Cardo', serif;  */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}



/* .............Testimonial Section..........  */
.testimonial-section{
    background-color: #53354a;
}

.testimonial-content{
    display: flex;
}
.testimonial-content-item{
    width: 50%;
}
.testimonial-image img{
    width: 100%;
    height: 100%;
}
.testimonial-text{
    padding-top:115px ;
    padding-left: 80px;
    padding-bottom: 100px;
}
.testimonial-text p:first-of-type{
    font-size: 36px;
    font-style: italic;
    color: #fff;
    font-family: 'Cardo', serif; 
    padding-right: 90px;
}
.testimonial-text p:last-of-type{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 28px;
}
.indicator {
    display: flex;
    margin-top: 64px;
    column-gap: 8px;
    justify-content: center;
}
.indicator-item{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #897583;
}
.indicator .indicator-item:nth-child(2){
    background-color: #fff;
}






/* ============Responsive============= */

@media screen and (max-width:1087px){

    /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        padding-right: 25px;
    }
 
 }
 
 @media screen and (max-width:969px){
 
    
    /* .............Testimonial Section.......... */
    .testimonial-content{
        display: flex;
        flex-wrap: wrap;
    }
    .testimonial-content-item{
        width: 100%;
    }
    .testimonial-text p:first-of-type {
        padding-right: 165px;
    }
   
    
 }
 
 @media screen and (max-width:768px){
   
    /* .............Testimonial Section.......... */
   
    .testimonial-text {
        padding-top: 100px;
    }
   
 }   
 
 @media screen and (max-width:689px){
    
    /* .............Testimonial Section.......... */
    .testimonial-text {
        padding-top: 70px;
    }
    .testimonial-text p:first-of-type {
        padding-right: 90px;
    }
 }
 
 @media screen and (max-width:574px){
   
    /* .............Testimonial Section.......... */
    .testimonial-text {
        padding-top: 60px;
        padding-bottom: 65px;
    }
    .indicator {
        margin-top: 50px;
    }
 
 }
 
 @media screen and (max-width:539px){
   
     /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        padding-right: 30px;
    }
 }
 
 @media screen and (max-width:517px){
     /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        font-size: 29px;
    }
 }
 
 @media screen and (max-width:471px){
  
     /* .............Testimonial Section.......... */
     .testimonial-text {
        padding-top: 40px;
        padding-left: 50px;
        padding-bottom: 40px;
    }
    .testimonial-text p:first-of-type {
        padding-right: 10px;
    }
    .indicator {
        margin-top: 30px;
    }
   
 }
 
 
 @media screen and (max-width:431px){
   
     /* .............Testimonial Section.......... */
    .testimonial-text {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .testimonial-text p:first-of-type {
        font-size: 28px;
    }
 }
 
 
 
 @media screen and (max-width:375px){
    
    /* .............Testimonial Section......... */
    .testimonial-text {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .indicator {
        margin-top: 30px;
    }
    .testimonial-text p:first-of-type {
        font-size: 25px;
    }
 }
 
 @media screen and (max-width:364px){
   
    /* .............Testimonial Section.......... */
    .testimonial-text p:first-of-type {
        font-size: 22px;
    }
    .testimonial-text p:last-of-type {
        margin-top: 20px;
        margin-right: 25px;
        font-size: 12px;
    }
    
 }
 