@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Cardo', serif;  */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ...........Team Section...........  */

.team-section{
    padding: 100px 0;
}
.team-section .container{
    display: flex;
    justify-content: space-between;
}
.team-member{
    max-width: calc(25% - 22.5px);
}
.team-section .container .team-member img{
    width: 100%;
    /* height: 100%; */
}
.team-member h3, .team-member p{
    font-family: 'Raleway', sans-serif;
}
.team-member h3{
    font-size: 22px;
    color: #2d3033;
    margin-top: 30px;
    margin-bottom: 16px;
}
.team-member p:first-of-type{
    font-size: 13px;
    text-transform: uppercase;
    color: #E84545;
}
.team-member p:last-of-type{
    font-size: 14px;
    color: #898e94;
    margin: 30px 0;

}
.team-member_social-icon {
    display: flex;
    column-gap: 4px;
}
.team-member_social-icon a{
    height: 40px;
    width: 40px;
    border: 1px solid #e8ecee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-member_social-icon a i{
    color: #c6cacc;
}








/* ============Responsive============= */


@media screen and (max-width:969px){

   /* ...........Team Section........... */
   .team-section .container{
      flex-wrap: wrap;
      row-gap: 60px;
   }
   .team-member{
       max-width: 50%;
       padding: 0 100px;
   }
}

@media screen and (max-width:869px){
   /* ...........Team Section........... */
   .team-member {
   padding: 0 75px;
   }
}

@media screen and (max-width:768px){
  
   /* ...........Team Section........... */
   .team-member {
       padding: 0 50px;
   }
} 

@media screen and (max-width:665px){

   /* ...........Team Section........... */
   .team-member {
       padding: 0 25px;
   }
}

@media screen and (max-width:574px){
  
   /* ....................Team Section.................. */
   .team-member {
       padding: 0 5px;
   }
   .team-section {
       padding: 60px 0;
   }
}

@media screen and (max-width:539px){
  
   /* ....................Team Section.............. */
   .team-member {
       max-width: 100%;
       padding: 0 120px;
   }
}

@media screen and (max-width:471px){
 
   /* ...............Team Section........... */
   .team-member {
       padding: 0 88px;
   }
   .team-member h3 {
       margin-top: 20px;
       margin-bottom: 15px;
   }
   .team-member p:last-of-type {
       margin: 20px 0;
   }
   .team-section .container {
       row-gap: 40px;
   }
}


@media screen and (max-width:431px){
  
    /* ...........Team Section........... */
    .team-member {
       padding: 0 65px;
   }
}



@media screen and (max-width:375px){
   
   /* ...........Team Section........... */
   .team-member {
       padding: 0 37px;
   }
  
}

@media screen and (max-width:364px){
  
   /* .............Team Section............ */
   .team-section {
       padding: 35px 0;
   }
   .team-section .container {
       row-gap: 30px;
   }
}
@media screen and (max-width:320px){
  
   /* ...........Team Section........... */
   .team-member {
       padding: 0 12px;
   }
}
